.introducao {
    height: 56vh;
    width: 100%;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FAF7EF;
    text-align: center;
    padding: 0rem 2rem;
}

.introducao h2 {
    font-size: 2rem;
}

h2#introducao-title::after {
    content: "";
    display: block;
    height: 2px;
    background-color: blue;
    width: 100%;
    margin-top: 2px;
}

@media (max-width: 700px) {
    .introducao {
        height: 50vh;
    }
}


